{{- if and .Values.workers.enabled (gt (len .Values.workers.items) 0) -}}
{{- $root := . -}}
{{- range $index, $worker := .Values.workers.items }}
{{- $name := default (printf "worker-%d" $index) $worker.name -}}
{{- $fullName := printf "%s-worker-%s" (include "ductstream.fullname" $root) $name | trunc 63 | trimSuffix "-" -}}
{{- $kind := default "deployment" $worker.kind | lower -}}
{{- $imageRepo := dig "image" "repository" $root.Values.image.repository $worker -}}
{{- $imageTag := dig "image" "tag" $root.Values.image.tag $worker -}}
{{- $imagePullPolicy := dig "image" "pullPolicy" $root.Values.image.pullPolicy $worker -}}
{{- if eq $kind "cronjob" }}
apiVersion: batch/v1
kind: CronJob
metadata:
  name: {{ $fullName }}
  labels:
    app.kubernetes.io/name: {{ include "ductstream.name" $root }}
    helm.sh/chart: {{ $root.Chart.Name }}-{{ $root.Chart.Version }}
    app.kubernetes.io/instance: {{ $root.Release.Name }}
    app.kubernetes.io/version: {{ $root.Chart.AppVersion }}
    app.kubernetes.io/managed-by: {{ $root.Release.Service }}
    app.kubernetes.io/component: worker
    app.kubernetes.io/worker: {{ $name }}
spec:
  schedule: {{ required "workers.items[].schedule is required for cronjob" $worker.schedule | quote }}
  concurrencyPolicy: {{ default "Forbid" $worker.concurrencyPolicy }}
  successfulJobsHistoryLimit: {{ default 3 $worker.successfulJobsHistoryLimit }}
  failedJobsHistoryLimit: {{ default 1 $worker.failedJobsHistoryLimit }}
  jobTemplate:
    spec:
      backoffLimit: {{ default 1 $worker.backoffLimit }}
      template:
        metadata:
          labels:
            app.kubernetes.io/name: {{ include "ductstream.name" $root }}
            app.kubernetes.io/instance: {{ $root.Release.Name }}
            app.kubernetes.io/component: worker
            app.kubernetes.io/worker: {{ $name }}
{{- with $worker.podLabels }}
{{ toYaml . | nindent 12 }}
{{- end }}
{{- with $worker.podAnnotations }}
          annotations:
{{ toYaml . | nindent 12 }}
{{- end }}
        spec:
          restartPolicy: {{ default "Never" $worker.restartPolicy }}
{{- if $root.Values.imagePullSecrets }}
          imagePullSecrets:
{{ toYaml $root.Values.imagePullSecrets | indent 12 }}
{{- end }}
          serviceAccountName: {{ include "ductstream.serviceAccountName" $root }}
          containers:
            - name: ductstream-worker
              image: "{{ $imageRepo }}:{{ $imageTag }}"
              imagePullPolicy: {{ $imagePullPolicy }}
{{- if $worker.command }}
              command: {{ toYaml $worker.command | nindent 16 }}
{{- end }}
{{- if $worker.args }}
              args: {{ toYaml $worker.args | nindent 16 }}
{{- end }}
{{- $envFrom := list }}
{{- if $root.Values.config.enabled }}
{{- $envFrom = append $envFrom (dict "configMapRef" (dict "name" (include "ductstream.fullname" $root))) }}
{{- end }}
{{- range $worker.envFrom }}
{{- $envFrom = append $envFrom . }}
{{- end }}
{{- if $envFrom }}
              envFrom:
{{ toYaml $envFrom | indent 16 }}
{{- end }}
{{- if $worker.env }}
              env:
{{ toYaml $worker.env | indent 16 }}
{{- end }}
{{- with $worker.resources }}
              resources:
{{ toYaml . | indent 16 }}
{{- end }}
{{- with $worker.nodeSelector }}
          nodeSelector:
{{ toYaml . | indent 12 }}
{{- end }}
{{- with $worker.affinity }}
          affinity:
{{ toYaml . | indent 12 }}
{{- end }}
{{- with $worker.tolerations }}
          tolerations:
{{ toYaml . | indent 12 }}
{{- end }}
{{- else if eq $kind "job" }}
apiVersion: batch/v1
kind: Job
metadata:
  name: {{ $fullName }}
  labels:
    app.kubernetes.io/name: {{ include "ductstream.name" $root }}
    helm.sh/chart: {{ $root.Chart.Name }}-{{ $root.Chart.Version }}
    app.kubernetes.io/instance: {{ $root.Release.Name }}
    app.kubernetes.io/version: {{ $root.Chart.AppVersion }}
    app.kubernetes.io/managed-by: {{ $root.Release.Service }}
    app.kubernetes.io/component: worker
    app.kubernetes.io/worker: {{ $name }}
spec:
  backoffLimit: {{ default 1 $worker.backoffLimit }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ include "ductstream.name" $root }}
        app.kubernetes.io/instance: {{ $root.Release.Name }}
        app.kubernetes.io/component: worker
        app.kubernetes.io/worker: {{ $name }}
{{- with $worker.podLabels }}
{{ toYaml . | nindent 8 }}
{{- end }}
{{- with $worker.podAnnotations }}
      annotations:
{{ toYaml . | nindent 8 }}
{{- end }}
    spec:
      restartPolicy: {{ default "Never" $worker.restartPolicy }}
{{- if $root.Values.imagePullSecrets }}
      imagePullSecrets:
{{ toYaml $root.Values.imagePullSecrets | indent 8 }}
{{- end }}
      serviceAccountName: {{ include "ductstream.serviceAccountName" $root }}
      containers:
        - name: ductstream-worker
          image: "{{ $imageRepo }}:{{ $imageTag }}"
          imagePullPolicy: {{ $imagePullPolicy }}
{{- if $worker.command }}
          command: {{ toYaml $worker.command | nindent 12 }}
{{- end }}
{{- if $worker.args }}
          args: {{ toYaml $worker.args | nindent 12 }}
{{- end }}
{{- $envFrom := list }}
{{- if $root.Values.config.enabled }}
{{- $envFrom = append $envFrom (dict "configMapRef" (dict "name" (include "ductstream.fullname" $root))) }}
{{- end }}
{{- range $worker.envFrom }}
{{- $envFrom = append $envFrom . }}
{{- end }}
{{- if $envFrom }}
          envFrom:
{{ toYaml $envFrom | indent 12 }}
{{- end }}
{{- if $worker.env }}
          env:
{{ toYaml $worker.env | indent 12 }}
{{- end }}
{{- with $worker.resources }}
          resources:
{{ toYaml . | indent 12 }}
{{- end }}
{{- with $worker.nodeSelector }}
      nodeSelector:
{{ toYaml . | indent 8 }}
{{- end }}
{{- with $worker.affinity }}
      affinity:
{{ toYaml . | indent 8 }}
{{- end }}
{{- with $worker.tolerations }}
      tolerations:
{{ toYaml . | indent 8 }}
{{- end }}
{{- else }}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ $fullName }}
  labels:
    app.kubernetes.io/name: {{ include "ductstream.name" $root }}
    helm.sh/chart: {{ $root.Chart.Name }}-{{ $root.Chart.Version }}
    app.kubernetes.io/instance: {{ $root.Release.Name }}
    app.kubernetes.io/version: {{ $root.Chart.AppVersion }}
    app.kubernetes.io/managed-by: {{ $root.Release.Service }}
    app.kubernetes.io/component: worker
    app.kubernetes.io/worker: {{ $name }}
spec:
  replicas: {{ default 1 $worker.replicas }}
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ include "ductstream.name" $root }}
      app.kubernetes.io/instance: {{ $root.Release.Name }}
      app.kubernetes.io/component: worker
      app.kubernetes.io/worker: {{ $name }}
  template:
    metadata:
      labels:
        app.kubernetes.io/name: {{ include "ductstream.name" $root }}
        app.kubernetes.io/instance: {{ $root.Release.Name }}
        app.kubernetes.io/component: worker
        app.kubernetes.io/worker: {{ $name }}
{{- with $worker.podLabels }}
{{ toYaml . | nindent 8 }}
{{- end }}
{{- with $worker.podAnnotations }}
      annotations:
{{ toYaml . | nindent 8 }}
{{- end }}
    spec:
{{- if $root.Values.imagePullSecrets }}
      imagePullSecrets:
{{ toYaml $root.Values.imagePullSecrets | indent 8 }}
{{- end }}
      serviceAccountName: {{ include "ductstream.serviceAccountName" $root }}
      containers:
        - name: ductstream-worker
          image: "{{ $imageRepo }}:{{ $imageTag }}"
          imagePullPolicy: {{ $imagePullPolicy }}
{{- if $worker.command }}
          command: {{ toYaml $worker.command | nindent 12 }}
{{- end }}
{{- if $worker.args }}
          args: {{ toYaml $worker.args | nindent 12 }}
{{- end }}
{{- $envFrom := list }}
{{- if $root.Values.config.enabled }}
{{- $envFrom = append $envFrom (dict "configMapRef" (dict "name" (include "ductstream.fullname" $root))) }}
{{- end }}
{{- range $worker.envFrom }}
{{- $envFrom = append $envFrom . }}
{{- end }}
{{- if $envFrom }}
          envFrom:
{{ toYaml $envFrom | indent 12 }}
{{- end }}
{{- if $worker.env }}
          env:
{{ toYaml $worker.env | indent 12 }}
{{- end }}
{{- with $worker.resources }}
          resources:
{{ toYaml . | indent 12 }}
{{- end }}
{{- with $worker.nodeSelector }}
      nodeSelector:
{{ toYaml . | indent 8 }}
{{- end }}
{{- with $worker.affinity }}
      affinity:
{{ toYaml . | indent 8 }}
{{- end }}
{{- with $worker.tolerations }}
      tolerations:
{{ toYaml . | indent 8 }}
{{- end }}
{{- end }}
---
{{- end }}
{{- end }}
