replicaCount: 1

image:
  repository: ghcr.io/josephjohncox/ductstream
  tag: "latest"
  pullPolicy: IfNotPresent

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  name: ""

podAnnotations: {}
podLabels: {}

service:
  type: ClusterIP
  port: 8080

env: []
envFrom: []

config:
  enabled: false
  data: {}

command: []
args: []

resources: {}
nodeSelector: {}
tolerations: []
affinity: {}
